.container {
  display: grid;
  grid-template-columns: 40px 20px auto 20px 40px;
  grid-template-rows: 40px 40px;
}


/* .container {
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
} */


/* .item-a {
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
} */