/* === ver2 === */

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 300px 50px;
  grid-template-areas:
  'h h h h h h h h h h h h'
  'm m c c c c c c c c c c'
  'f f f f f f f f f f f f';
}

.box1 {
  grid-area: h;
}

.box2 {
  grid-area: m;
}

.box3 {
  grid-area: c;
}

.box4 {
  grid-area: f;
}

/* === ver1 ===

.container {
  display: grid;
  grid-template-columns: 70px 50px auto 50px 70px;
  grid-template-rows: 50px 50px 50px;
}

.box1 {
  background: darkgray;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
} */
