body {
  margin: 0;
  background: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: gray;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11,
.box12 {
  border: 1px dotted gray;
}
